@charset "utf-8";
.footer  {
    text-align: center;
    background-color: #041119;
    height: 169px;
    color: #FFFFFF;

}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
	font-size: 30px;
	color: #FB9CD9;
}

.nav-link {
    font-size: 20px;
    color: #8C8C8C;
}
.dates   {
	color: #FB9CD9
}
.display-4 {
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
.rowcolor {
    background-color: #E6E6E6;
}
.navbar-nav .nav-item.active .nav-link.nav-link2 {
	color: #7A7A7A
}
